@{
	ViewData["Title"] = "Home Page";
}

<div class="container">
	<h1 class="display-4">Welcome</h1>
	<div class="container">
		<h2><a href="/Customer/Register">Register</a></h2>
		<h2><a href="/Customer/Login">Login</a></h2>
	</main>
</div>
