@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome!</h1><hr>
	<a asp-controller="Customer" asp-action="Login">Login</a>
	<br><br>
	<a asp-controller="Customer" asp-action="Register">Register</a>
</div>
