@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4">Welcome!</h1><hr>
</div>

<div class="row">
	<div class="col-lg-12">
		<a asp-controller="Customer" asp-action="Login" class="btn btn-primary">Login</a>
	</div>
	<div class="col-lg-12">
		<a asp-controller="Customer" asp-action="Register" class="btn btn-primary">Register</a>
	</div>
</div>
