@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<h2>
		<a asp-controller="Customer" asp-action="Register">
			Register
		</a>
	</h2>
	<h2>
		<a asp-controller="Customer" asp-action="Login">
			Login
		</a>
	</h2>
</div>
