@{
	ViewData["Title"] = "Customer History";
}

@using System.Collections.Generic
@using TylerMart.Domain.Models
@model List<Order>


<div class="text-center">
	@if (ViewBag.Name != null) {
		<h1 class="display-4">Welcome, @ViewBag.Name!</h1><hr>
	}
</div>

<p>
	<ul>
		@foreach (var order in @Model) {
			<li>@order.ToString()</li>
		}
	</ul>
</p>
