@{
	ViewData["Title"] = "Customer";
}

<div class="container">
	<div class="text-center">
		<h1 class="display-4">Welcome, @ViewBag.CustomerName!</h1>
		<small><a href="/Customer/Logout">Logout</a></small>
	</div>
	<div class="container">
		<p><a href="/Order/Index">Order</a></p>
		<p><a href="/Customer/History">History</a></p>
		<p><a href="/Customer/Search">Search</a></p>
	</div>
</div>
