@{
	ViewData["Title"] = "Main Menu";
}

<div class="text-center">
	@if (ViewBag.Name != null) {
		<h1 class="display-4">Welcome, @ViewBag.Name!</h1><hr>
	} else {
		<h1 class="display-4">Welcome!</h1><hr>
	}
</div>

<div class="row">
	<div class="col-lg-12">
		<a asp-controller="Customer" asp-action="Logout" class="btn btn-primary">Log Out</a><br><br>
		<form asp-controller="Customer" asp-action="Search" method="GET">
			@Html.AntiForgeryToken()
			<input type="submit" value="Find Customers" class="btn btn-primary"><br><br>
		</form>
		<a asp-controller="Order" asp-action="Index" class="btn btn-primary">Make Order</a>
		@if (ViewBag.Default != null) {
			<a asp-controller="Order" asp-action="Location" asp-route-ID="@ViewBag.Default" class="btn btn-sm btn-info">From @ViewBag.Place</a>
		}
		<br><br>
		<a asp-controller="Customer" asp-action="History" class="btn btn-primary">Your History</a>
	</div>
</div>
