@{
	ViewData["Title"] = "Main Menu";
}

@using System.Collections.Generic;
@using TylerMart.Domain.Models;
@model List<Location>;

<div class="container text-center">
	@foreach (var location in @Model) {
		<p><a href="/Customer/Location/@location.ID">@location.Name</a></p>
	}
</div>
