@{
	ViewData["Title"] = "Location Menu";
}

@using System.Collections.Generic;
@using TylerMart.Domain.Models;
@model List<Location>;

<div class="container text-center">
	@foreach (var location in @Model) {
		<p>@location.Name
			<a href="/Order/Index/@location.ID">Make Order</a>
			<a href="/Order/History/@location.ID">History</a>
		</p>
	}
</div>
